.fairly-img {
    position: fixed;
    right: 20%;
    top: 0px;
    height: 100%;
    min-height: 800px;
}

.fairly-bubble {
	background-image: url("assets/SPEECH_BUBBLE.png");
    width: 500px;
    height: 300px;
    background-size: cover;
	position: relative;
	display: inline-block;
    transform: rotate(-5deg) scale(-1, 1);
    text-align: center;
}

.bubble-text {
    font-size: 30px;
	position: absolute;
    top: 60%;
    left: 0px;
    height: 100px;
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -50px;
    z-index: 99;
	opacity: 1;
    transform: rotate(-5deg) scale(-1, 1);
}

.userInfoCard {
    position: absolute;
    bottom: 30%;
    width: 300px;
    left: 5%;
    background: rgba(255, 255, 255, 0.7);
}

.userInfoCard-btn-bundle {
    margin-top: 10px;
}

.app-newspeed {
    height: calc(100% - 70px);
    width: 100%;
    margin-left: 10px;
}

.newspeed-loading-screen {
    height: calc(100% - 70px);
    width: 95%;
    margin-left: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.newspeed-backgound {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.posts-content > p > p > img { 
    max-width: 100% !important;
}

.posts-list {
    margin-right: 50px !important;
}

.posts-card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.posts-card {
    margin-left: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    max-height: 600px;
    width: 95%;
    overflow:hidden;
}

.posts-content {
    max-height: 500px;
    overflow:hidden;
    position: relative;
}

.posts-overflow-hidden {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    content: '';
    z-index: 1;
    position: absolute;
    width: 100%;
    height:200px;
    bottom: 0;
}

.posts-overflow-arrow {
    font-size: 70px; 
    width: 100px; 
    height: 100px; 
    display: block;
    margin: 100px auto 0 auto;
}

.posts-card-header {
    margin-bottom: 20px;
}

.posts-card-chip {
    float: right;
}

.mat-card-avatar {
    background-size: cover;
}

.mat-card-content {
    margin-right: 0px !important;
}

.posts-info-content {
    margin: auto 0;
    white-space: pre-line; 
    word-break:break-all;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-height: 400px; 
}

.mat-card-content {
    margin-right: 20px;
}

.posts-image-box {
    margin-top: 20px;
    margin-right: 20px;
}

.posts-image-title {
    font-size: 20px;
}

.mat-card-image {
    height: 400px;
    object-fit: cover;
}

.mat-card-image-cover {
    height: 400px;
    position: absolute;
    top: 102px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
}

.posts-card-classify-logo{
    margin-left: auto;
    padding: 0 25px;
}

.comment-count {
    padding: 0 20px;
}

.like-btn {
    /* margin-left: auto; */
    padding: 0 20px;
}

.dislike-btn {
    padding: 0 20px;
}

.mat-list {
    padding: 0;
}

.mat-nav-list {
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .userInfoCard-login-btn {
        position: absolute;
        top: 10%;
        right: 5%;
    }

    .userInfoCard-regist-btn {
        position: absolute;
        top: calc(10% + 70px);
        right: 5%;
    }

    .userInfoCard-logo {
        margin-top: 0px;
    }

    .fairly-img {
        position: absolute;
        right: auto;
        top: auto;
        bottom: 0px;
        height: 100%;
        left: -25%;
        min-height: auto;
    }
    
    .fairly-bubble {
        width: 180px;
        height: 100px;
        transform: rotate(0deg);
        margin-right: 0%;
        float: right;
    }
    
    .bubble-text {
        top: 80%;
        font-size: 15px;
        width: 120px;
        padding-left: 35px;
        padding-right: 25px;
        transform: rotate(0deg);
    }
    
    .userInfoCard {
        bottom: 5%;
        left: calc(50% - 162px);
    }

    .app-newspeed {
        margin-left: 0px;
        height: calc(100% - 56px);
    }

    .posts-list {
        margin-right: 0px !important;
    }

    .posts-card {
        margin-left: 0px;
        width: auto;
    }

    .posts-card-header {
        margin-bottom: 0px;
    }

    .posts-content {
        max-height: 400px;
    }

    .posts-card-classify-logo{
        display: none;
    }
    
    .comment-count {
        margin-left: auto;
        padding: 0 10px;
    }
    
    .like-btn {
        /* margin-left: auto; */
        padding: 0 10px;
    }
    
    .dislike-btn {
        display: none;
    }

    .mat-card-image {
        margin: -30px -16px;
        width: calc(100% + 32px);
    }

    .elbum-image {
        margin: 0px -16px;
    }

    .mat-card-image-cover {
        top: 82px;
    }

    .newspeed-loading-screen {
        height: calc(100% - 56px);
        width: 100%;
        margin-left: 0px;
        z-index: 99;
    }

    .posts-image-box {
        margin-right: 0px;
    }
}