<mat-card class="app-card-sideUserList">
    <mat-tab-group class="app-tab-group" (selectedIndexChange)="tabChange($event)">
        <!-- 접속 중 인원 리스트 -->
        <mat-tab label="활동순">
                <mat-list>
                    <!-- <h3 mat-subheader>Folders</h3> -->
                    <mat-nav-list *ngFor="let user of recentUsers">
                        <a mat-list-item (click)="pressOneUser(user)">
                            <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                            <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + user.image + ')'}" class="profile-image"></div>
                            <div class="profile-info">
                                <h4 class="profile-info-name">{{user.name}}</h4>
                                <p class="profile-info-intro"> {{user.recentDate}} </p>
                            </div>
                        </a>
                        <mat-divider></mat-divider>
                    </mat-nav-list>
                </mat-list>


                <!-- 선택 리스트 -->
                <!-- <mat-selection-list #list>
                    <mat-list-option *ngFor="let user of users" (click)="pressOneUser(list)" [value]="user.name">
                        {{user.name}}
                    </mat-list-option>
                </mat-selection-list> -->
        </mat-tab>

        <!-- 잉여랭킹 인원 리스트 -->
        <mat-tab label="잉여랭킹" isActive>
                <mat-list>
                    <!-- <h3 mat-subheader>Folders</h3> -->
                    <mat-nav-list *ngFor="let user of userOrderByLank">
                        <a mat-list-item (click)="pressOneUser(user)">
                            <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                            <div mat-card-avatar [ngStyle]="{ 'background-image': 'url(' + user.image + ')'}" class="profile-image"></div>
                            <div class="profile-info">
                                <h4 class="profile-info-name">{{user.name}}</h4>
                                <p class="profile-info-intro"> 잉어력: {{user.point}} </p>
                            </div>
                        </a>
                        <mat-divider></mat-divider>
                    </mat-nav-list>
                </mat-list>
        </mat-tab>

        <!-- 일정 리스트 -->
        <mat-tab label="일정" disabled>
            <mat-list>
                <h3 mat-subheader>Folders</h3>
                <mat-nav-list *ngFor="let schedule of scheduleArr">
                    <a mat-list-item (click)="pressOneSchedule(schedule.postId)">
                        <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                        <div class="profile-info">
                            <h4 class="profile-info-name">{{schedule.title}}</h4>
                            <p class="profile-info-intro"> {{schedule.startDate | date:'M월 d일 H시'}} ~ {{schedule.endDate | date:'M월 d일 H시'}}</p>
                            <p class="profile-info-intro"> 참석자 수: {{schedule.participantsId.length}}</p>
                        </div>
                    </a>
                    <mat-divider></mat-divider>
                </mat-nav-list>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</mat-card>