/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 1500px;
    margin: 0px;
}

@media screen and (max-width: 1499px) {
    body{
        min-width: 100%;
    }
}

/* 색 */
.color-primary{
    background-color: #3F51B5;   
}
.color-50{
    background-color: #E8EAF6;   
}
.color-100{
    background-color: #C5CAE9;   
}
.color-200{
    background-color: #9FA8DA;   
}
.color-300{
    background-color: #7986CB;   
}
.color-400{
    background-color: #5C6BC0;   
}
.color-600{
    background-color: #3949AB;   
}
.color-700{
    background-color: #303F9F;   
}
.color-800{
    background-color: #283593;   
}
.color-900{
    background-color: #1A237E;   
}
.color-A100{
    background-color: #FF80AB;   
}
.color-A200{
    background-color: #FF4081;   
}
.color-A400{
    background-color: #F50057;   
}
.color-A700{
    background-color: #C51162;   
}

/* 그림자 */
.depth-1{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.depth-2{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.depth-3{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.depth-4{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.depth-5{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* 폰트 */
.font-Italic{
    font-style: italic;
}
.font-light{
    font-weight: lighter;
}
.font-bold{
    font-weight: bold;
}
.font-size10{
    font-size: 10px;
}
.font-size12{
    font-size: 12px;
}
.font-size14{
    font-size: 14px;
}
.font-size16{
    font-size: 16px;
}
.font-size20{
    font-size: 20px;
}
.font-size30{
    font-size: 30px;
}

/* 머테리얼 디자인 생명주기상 어쩔 수 없이 이곳에 선언 */
.mat-drawer-content{
    overflow:hidden !important;
}

.mat-tab-label {
    min-width: 100px !important;
}

.mat-list-text {
    /* 코맨트 전용 */
    max-width: 110px !important;    
}

.ql-emoticon {
    background-image: black;
}

/* 디테일뷰의 게시글 이미지 크기를 맟추기 위함(quill 라이브러리를 써서 어쩔 수 없음) */
.ql-editor > p > p > img { 
    max-width: 100% !important;
}

/* 스피너 */
.fulfilling-square-spinner , .fulfilling-square-spinner * {
    box-sizing: border-box;
    margin: auto;
    top: 50%;
}

.fulfilling-square-spinner {
    height: 50px;
    width: 50px;
    position: relative;
    border: 4px solid #3F51B5;
    animation: fulfilling-square-spinner-animation 4s infinite ease;
}

.fulfilling-square-spinner .spinner-inner {
    vertical-align: top;
    display: inline-block;
    background-color: #3F51B5;
    width: 100%;
    opacity: 1;
    animation: fulfilling-square-spinner-inner-animation 4s infinite ease-in;
}

.comment-img {
    max-width: 45vmin;
    max-height: 45vmin;
}

@keyframes fulfilling-square-spinner-animation {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(360deg);
    }
}

@keyframes fulfilling-square-spinner-inner-animation {
    0% {
      height: 0%;
    }

    25% {
      height: 0%;
    }

    50% {
      height: 100%;
    }

    75% {
      height: 100%;
    }

    100% {
      height: 0%;
    }
}

@media screen and (max-width: 1000px) {
    .mat-list-text {
        /* 코맨트 전용 */
        max-width: 80px !important;    
    }
}